
<div class="jumbotron jumbotron-fluid">
<div class="jum-bkgrd">
  <div class="container">
      <h1 class="text-center">shrty.</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
          <%= render 'short_links/form' %>
        </div>
      </div>
  </div>
</div>
</div>
  
<div class="container">
  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class ="text-center bg-primary">Shrty</th>
        <th class ="text-center bg-primary">Long URL</th>
      </tr>
    </thead>
    <%= render partial: '/short_links/index', locals: { short_links: @short_links} %>
  </table>
  </div> 
</div>
