$("#text-message-form-status").html("");
$("#text-msg-err-detail").html("");

$("#text-message-form-status").append("<div><p>Your Shrty has been sent!</p></div>");
$('#text_message_form')[0].reset();



