<tr class='edit-short-form'>
    <td>
      <div class ="panel ">
        <div class="panel-heading">Edit Your Shrty</div>
        <div class="panel-body">
        
        <%= render 'form' %>
      
      </div>
    </div>
  </td>
</tr>

